<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711094217622-rnpmf73nk4032fmu1bdmn1jpteu5f8ko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711094217622-rnpmf73nk4032fmu1bdmn1jpteu5f8ko</string>
	<key>API_KEY</key>
	<string>AIzaSyBxkvV2v1Q3_oIG2kJsdR5sj44h_f7Jnt8</string>
	<key>GCM_SENDER_ID</key>
	<string>711094217622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.Drawing-For-Kids</string>
	<key>PROJECT_ID</key>
	<string>drawing-for-kids-91d13</string>
	<key>STORAGE_BUCKET</key>
	<string>drawing-for-kids-91d13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711094217622:ios:5788e470ef9565a5f84bb7</string>
</dict>
</plist>